a {
  color:black;

}

h1 {
  font-family: helvetica;
  font-size: 70px;
  font-kerning: auto;
  letter-spacing: -2px;

  text-align: center;
  text-shadow: 5px 5px #ff0000;
  text-rendering: geometricPrecision;

  margin: 20px;
  padding-top: 50px;
  padding-bottom: 80px;
  border-bottom: 1px solid gray;
}

strong {
  border: 1px gray solid;
  padding: 5px;
  margin-top: 20px;
  margin-left: 16px;
}

body {
  margin: 0;
  font-family: helvetica;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

#grid ol {
  border-right: 1px solid gray;
  width: 80px;
  margin-right: 0;
  margin-left: 20px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 25px;
}

#grid #lyric {
  padding-left: 30px;
}

#main {
  color:black;
}

@media(max-width: 700px){
  #grid ol {
    border: 0px;

  }
  #grid {
    display: block;
  }
  h1 {
    border: none;
  }
}
